* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left-content {
  width: 5%;
  height: 100vh;
  position: fixed;
  left: 0px;
  background-color: #37a3a5;
}

.bodycontent {
  overflow-x: hidden;
  height: 100%;
}

.main-page-content {
  width: 96%;
  margin-left: 59px;
}

@media (max-width: 1250px) {
  .main-page-content {
    margin-left: 49px;
  }
}
@media (max-width: 998px) {
  .main-page-content {
    margin-left: 40px;
  }
}
@media (max-width: 815px) {
  .main-page-content {
    margin-left: 35px;
  }
}

.secondarycolor {
  color: #37a3a5;
}

.secondarycolorbg {
  background-color: #37a3a5;
}

.primarycolorbg {
  background-color: #225779;
}

.tertiarycolorbg {
  background-color: #e2f0f0;
}

.primarycolor {
  color: #225779;
}

.logoimage {
  width: 15%;
}

.mainheader2 {
  font-family: Merriweather, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: -0.03em;
}

.mainheader3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.mainheader4 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.mainparagraph {
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.lightmainparagraph {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
}

.smallerparagraph {
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.generalparagraph {
  font-family: Merriweather, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.boldsmallerparagraph {
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.03em;
  text-align: left;
}

.topnav {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: left;
}

.largestheader {
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
}

.smallerlargeheader {
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.largeheader {
  font-family: Montserrat;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: -0.03em;
  text-align: left;
}

.differentparagraph {
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
}

.navcontents {
  width: 50%;
}
.navcontents li {
  list-style-type: none;
}
.navcontents li a {
  color: #fff;
}

.buttoncontent {
  width: 19%;
  margin-right: 100px;
}

button.reachoutbtn {
  background-color: #deffff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

button.reachoutbtn:hover {
  background-color: #37a3a5;
}

button.enquirebtn {
  background-color: #225779;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

button.enquirebtn:hover {
  background-color: #37a3a5;
}

.innercontent {
  height: 60vh;
}
.innercontent h1 {
  font-weight: 700;
}

.innercontentstrategyinfo {
  height: 70vh;
}
.innercontentstrategyinfo .inner {
  margin-top: 150px;
}

.innerbottomcontent {
  position: relative;
  height: 140px;
}
.innerbottomcontent p {
  margin-right: 250px;
}
.innerbottomcontent .linecontent {
  border-bottom: 2px solid #fff;
  width: 40%;
  height: 10px;
  position: absolute;
  bottom: 120px;
  right: 70px;
}
.innerbottomcontent .verticalmintline {
  border-right: 1.5px solid #37a3a5;
  width: 40%;
  height: 100px;
  position: absolute;
  bottom: -65px;
  left: 520px;
}

.detailssection {
  position: relative;
}
.detailssection img {
  position: absolute;
  top: -150px;
}
.detailssection p {
  padding-bottom: 100px;
}

.expandingimage {
  transition: 0.3s;
}

.primaryborderbottom {
  border-bottom: 1px solid #225779;
}

.primaryborderright {
  border-right: 1px solid #225779;
}

.secondaryborderbottom {
  border-bottom: 1px solid #37a3a5;
}

.secondaryborderright {
  border-right: 1px solid #37a3a5;
}

.secondarybordertop {
  border-top: 1px solid #37a3a5;
}

.expandingimage:hover {
  transform: scale(1.005);
}

.perspectives {
  margin-top: 150px;
}

.boldborderbottom {
  border-bottom: 4px solid #000;
  padding-bottom: 15px;
}

.whiteborderbottom {
  border-bottom: 2px solid #fff;
  padding-bottom: 25px;
}

footer {
  background-color: #7a8d99;
}

.fieldInput {
  width: 100%;
  height: 50px;
  background: #c4c4c4;
  position: relative;
  overflow: hidden;
}
.fieldInput .form-input {
  width: 200px;
  height: 50px;
  background: none;
  border: none;
  padding: 12px 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #5f5d5d;
}
.fieldInput .form-input:focus {
  outline: none;
}
.fieldInput .form-input::placeholder {
  color: #5f5d5d !important;
}
.fieldInput .form-submit {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a7c92;
  position: absolute;
  right: 42px;
  top: 0;
  width: 70px;
  height: 50px;
  border-radius: 17px;
  border: none;
  background: none;
  cursor: pointer;
}

.yaxisspacing {
  margin-top: 80px;
}

.menuskew {
  transform: rotate(90deg);
}

input.secondaryinput,
select.secondaryinput {
  background: #e2f0f0;
  border: none;
  border-radius: 10px;
}

/* Custom Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  height: 45px;
  background: #fff;
  border-radius: 20px;
}

.alignicons {
  position: relative;
}
.alignicons::after {
  content: '\f309';
  font-family: 'FontAwesome';
  position: absolute;
  bottom: 6px;
  right: 1px;
  padding: 0 1em;
  cursor: pointer;
  font-size: 12px;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.filterinputs div.col-md-3 {
  flex: 0 0 23%;
  width: 23%;
}

.graytext {
  color: #5f5d5d;
}

.innercontent-aboutus {
  height: 45vh;
}

button.navbar-toggler {
  border: none;
  margin-right: 20px;
}

.navbarmobile {
  display: none;
}

/*# sourceMappingURL=style.css.map */

@media (max-width: 720px) {
  .main-page-content {
    margin-left: 0px;
    width: 100%;
  }
}
@media (max-width: 750px) {
  div.navcontentslargescreen {
    display: none !important;
  }

  .navbarmobile {
    display: block;
  }

  .listmobile {
    list-style-type: none;
  }
  .navbaritemsmobile {
    width: 95%;
    list-style-type: none;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .mainlogo {
    height: 28.276811599731445px;
    width: 74px;
  }

  .mainheader2 {
    font-size: 16px;
    line-height: 25px;
  }

  .innercontent {
    height: 40vh;
  }
  .detailssection img {
    position: static;
  }
  .mainparagraph {
    font-size: 12px;
  }
  .differentparagraph {
    font-size: 12px;
  }

  .innerbottomcontent .linecontent {
    width: 90%;
    bottom: 110px;
    right: 30px;
  }
  .innerbottomcontent .verticalmintline {
    width: 40%;
    height: 100px;
    bottom: -65px;
    left: 520px;
  }

  .innerbottomcontent p {
    margin-right: 0px;
  }

  .detailssection {
    flex-direction: column-reverse;
  }

  .stayingrelevant p.secondaryborderbottom {
    border: none;
  }

  .detailssection p {
    padding-bottom: 40px;
  }

  button.enquirebtn {
    font-size: 16px;
    line-height: 14px;
  }
  .smallerparagraph {
    font-size: 10px;
    line-height: 14px;
  }

  .fieldInput .form-input {
    font-size: 12px;
  }

  .fieldInput .form-submit {
    font-size: 11px;
  }

  .largestheader {
    font-size: 24px;
    line-height: 30px;
  }

  .mainheader4 {
    font-size: 12px;
    line-height: 15px;
  }

  .smallerlargeheader {
    font-size: 24px;
    line-height: 30px;
  }
}
